* {
    box-sizing: border-box;
}

/*Déclaration variables couleurs*/
$navbar_fond: #fafafa;
$footer_fond: #dfdfdf;
$icon_color: #19b9e7; //bleu-ciel
$hover: orange;
$text_color: #000;

body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Serif', serif;
    // background-color: #19b9e7;
}

h2 {
    color: #CF6243;
    padding: 1em;
}

a:hover {
    text-decoration: none;
}
/*-------------HEADER----------------*/
header {
      .navbar-default{
        /*Couleur barre de navigation*/
        background-color: $navbar_fond;
        border-radius: 0;
        border:none;
        margin-bottom: 0;

.navbar-brand img {
  display: inline-block;
  position: relative;
  top: -.65em;
  height:290%;
}

.navbar-brand p {
  display: inline-block;
  position: relative;
  top: -.50em;
  padding-left: 1em;
}

        /*Hamburger*/
        .navbar-toggle{
          background-color: $icon_color;
        }

        /*Hamburger - Barre*/
      .navbar-toggle .icon-bar{
        background-color: $navbar_fond;
        }

        .navbar-brand{
          color: $text_color;
          font-weight: 400;
        }

        .navbar-brand:hover{
          color: $hover;
        }

        /*Liens navbar*/
        .navbar-nav > li > a{
          color: $icon_color  ;
        }

        /*Bouton Log In/Sign up*/
      .btn-default{
        background-color: transparent;
        border-color: transparent;
      }
      .btn-default:hover{
        background-color: $hover;
      }
      }


    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover {
        color: $hover;
    }

    .btn-default:active,
    .btn-default:focus,
    .btn-default:hover {
        background-color: transparent;
        border-color: transparent;
        color: $text_color;
    }
    /*----------BACKGROUND FIXED------------------*/

#image_background{
  background-image: url('../images/colleagues.jpg');
  height: 95vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // display: flex;
  // align-items: center;
}

/*----------Search bar-------------*/
.col-xs-7{
  margin-left: 0;
}


.form-control, .btn{
  padding: 7px 15px;
  height: 41px;
}

}
/*----------Explications-------------*/
section {
    padding-top: 25px;

    .row {
      padding-bottom: 2em;
    }

    h1 {
        margin-bottom: 25px;
    }

    .col-md-3 img {
        width: 50%;
    }

    p{
      margin-bottom: 2em;
    }
}
    hr {
      width: 75%;
      background-color: #CF6243;
      height: 1px;
      border: none;
      }

/*-----------Actualités des besoins/services---*/
.list-group-item{
    border:1px solid $text_color;
}

.list-group-item.active,
.list-group-item.active:hover {
    background-color: $navbar_fond;
    border-color: $text_color;
}


a.list-group-item:hover {
    background-color: $navbar_fond;
    border-color: $text_color;
    color: $hover;
}

/*----------FOOTER------------------*/

footer{
  background-color:$footer_fond;
  padding-bottom: 0;

  .SocialMedia li{
  display: inline-block;
  }


  h3{
  color: $text_color;
  font-size: 20px;
  font-weight:400;
}
    a{
      color: $text_color;
      text-decoration: none;
       &:hover {
         color: $hover;
       }
    }


  ul{
    list-style-type: none;
    color:$text_color;
  }

    ul li a {
        color: $text_color;
        text-decoration: none;
    }

    input[type="mail"],
    input[type="text"] {
        margin-bottom: 0.5em;
        height: 34px;
        width: 65%;
    }

    button.btn {
        background-color: $icon_color;
        border: none;
    }

    button.btn:focus,
    button.btn:hover {
        background-color: $hover;
        opacity: 1;
    }

}
