@charset "UTF-8";
* {
  box-sizing: border-box; }

/*Déclaration variables couleurs*/
body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif; }

h2 {
  color: #CF6243;
  padding: 1em; }

a:hover {
  text-decoration: none; }

/*-------------HEADER----------------*/
header {
  /*----------BACKGROUND FIXED------------------*/
  /*----------Search bar-------------*/ }
  header .navbar-default {
    /*Couleur barre de navigation*/
    background-color: #fafafa;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    /*Hamburger*/
    /*Hamburger - Barre*/
    /*Liens navbar*/
    /*Bouton Log In/Sign up*/ }
    header .navbar-default .navbar-brand img {
      display: inline-block;
      position: relative;
      top: -.65em;
      height: 290%; }
    header .navbar-default .navbar-brand p {
      display: inline-block;
      position: relative;
      top: -.50em;
      padding-left: 1em; }
    header .navbar-default .navbar-toggle {
      background-color: #19b9e7; }
    header .navbar-default .navbar-toggle .icon-bar {
      background-color: #fafafa; }
    header .navbar-default .navbar-brand {
      color: #000;
      font-weight: 400; }
    header .navbar-default .navbar-brand:hover {
      color: orange; }
    header .navbar-default .navbar-nav > li > a {
      color: #19b9e7; }
    header .navbar-default .btn-default {
      background-color: transparent;
      border-color: transparent; }
    header .navbar-default .btn-default:hover {
      background-color: orange; }
  header .navbar-default .navbar-nav > li > a:focus,
  header .navbar-default .navbar-nav > li > a:hover {
    color: orange; }
  header .btn-default:active,
  header .btn-default:focus,
  header .btn-default:hover {
    background-color: transparent;
    border-color: transparent;
    color: #000; }
  header #image_background {
    background-image: url("../images/colleagues.jpg");
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  header .col-xs-7 {
    margin-left: 0; }
  header .form-control, header .btn {
    padding: 7px 15px;
    height: 41px; }

/*----------Explications-------------*/
section {
  padding-top: 25px; }
  section .row {
    padding-bottom: 2em; }
  section h1 {
    margin-bottom: 25px; }
  section .col-md-3 img {
    width: 50%; }
  section p {
    margin-bottom: 2em; }

hr {
  width: 75%;
  background-color: #CF6243;
  height: 1px;
  border: none; }

/*-----------Actualités des besoins/services---*/
.list-group-item {
  border: 1px solid #000; }

.list-group-item.active,
.list-group-item.active:hover {
  background-color: #fafafa;
  border-color: #000; }

a.list-group-item:hover {
  background-color: #fafafa;
  border-color: #000;
  color: orange; }

/*----------FOOTER------------------*/
footer {
  background-color: #dfdfdf;
  padding-bottom: 0; }
  footer .SocialMedia li {
    display: inline-block; }
  footer h3 {
    color: #000;
    font-size: 20px;
    font-weight: 400; }
  footer a {
    color: #000;
    text-decoration: none; }
    footer a:hover {
      color: orange; }
  footer ul {
    list-style-type: none;
    color: #000; }
  footer ul li a {
    color: #000;
    text-decoration: none; }
  footer input[type="mail"],
  footer input[type="text"] {
    margin-bottom: 0.5em;
    height: 34px;
    width: 65%; }
  footer button.btn {
    background-color: #19b9e7;
    border: none; }
  footer button.btn:focus,
  footer button.btn:hover {
    background-color: orange;
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
